<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard for Coronavirus</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body{
    margin: 0px;
padding: 0px;
background: url('img/bg.jpg')no-repeat center/cover;
height: 100vh;
width: 100vw;
font-family: 'Modak', cursive;
}
    </style>
</head>
<div class="menubar">
    <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/">graphs</a>
            <div id="submenu1">
                <ul>
                    <li><a href="/bar">Bar graph</a></li>
                    <li><a href="/line">line graph</a></li>
                    <li><a href="/pie"> pie chart</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/map">Map</a></li>
        <li><a href="/contact">contact us</a></li>
    </ul>
</div>
<div class="container">
    <h3>Be home stay safe</h3><br>
    <p>Do’s</p>
        <p>1. Hand Wash</p>
        <p>2. Cover Your Mouth & Nose</p>
        <p>3. Consult A Doctor If Sick</p>
        <p>4. Stay Indoors</p>
        <p>5. Avoid Close Contact With Anyone</p>
        <p>6. Do Not Spit</p>
        <p>7. Avoid Using Public Transport</p>
        <p>8. Do Not Use Over The Counter Medicines</p>
        <p>9. Don’t Panic, Take It Easy</p>
        <p>10. Don’t Touch Your Face</p>
  </div>